<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="sk">

<head>
    <title>Python Project App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Späť</a>
</nav>

<body>
  <div>
    <table class="table table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>Mesto</th>
          <th>Predvoľba</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for n in call_prefix %}
		<tr>
			<td></td>
			<td scope="row">{{n[0]}}</td>
			<td>{{n[1]}}</td>
			<td></td>
		</tr>
	     {% endfor %}
      </tbody>
    </table>

        <footer class="footer">
            <p>&copy; PS 2018</p>
        </footer>

    </div>
</body>

</html>
