<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="sk">

<head>
  <title>Python Project App</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Späť</a>
</nav>

<body>
  <div>
    <table class="table table-inverse">
      <thead>
        <tr>
          <th>#</th>
          <th>Názov Cely</th>
          <th>Veľkosť</th>
          <th>Obsadenosť</th>
          <th>Veľkosť na osobu</th>
          <th></th>
        </tr>
      </thead>
      		<tbody>
        <!-- {% for cell in cells %}
        <tr>
          <th scope="row">{{cell["id"]}}</th>
          <td>{{cell["name"]}}</td>
          <td>{{cell["size"]}} m<sup>2</sup></td>
          <td>{% if not cell["persons"] %} 0 {% else %} {{cell["persons"]}} {% endif %}</td>
          <td>{% if not cell["personsize"] %} 0 {% else %} {{cell["personsize"]}} {% endif %} m<sup>2</sup></td>
          <td><a href="/cell/{{cell['id']}}">Detail</a></td>
        </tr>
        {% endfor %} -->

				{% for cell in cells %}
				<tr>
					<th scope="row">{{cell[0]}}</th>
					<td>{{cell[1]}}</td>
					<td>{{cell[2]}} m<sup>2</sup></td>
					<td>{% if not cell[3] %} 0 {% else %} {{cell[3]}} {% endif %}</td>
					<td>{% if not cell[4] %} - {% else %} {{cell[4]}} m<sup>2</sup> {% endif %}</td>
					<td><a href="/cell/{{cell[0]}}">Detail</a></td>
				</tr>
				{% endfor %}
			</tbody>
    </table>

    <footer class="footer">
      <p>&copy; PS 2018</p>
    </footer>

  </div>
</body>

</html>
