<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="sk">

<head>
  <title>Vloženie väzňa</title>

  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Späť</a>
</nav>

<body>
  <div class="container">
    <br><br>
    {% if msg %}
    {{msg}}
    {% endif%}
    {% if prisoner %}
      <form action="{{ url_for('update', prisoner_id=prisoner['id']) }}" method="POST">
    {% else %}
      <form action="{{ url_for('create') }}" method="POST">
        {% endif %}
        <div class="form-row">

          <div class="form-group col-md-3">
            <label for="inputFirstName" class="col-form-label">Meno</label>
            <input type="FirstName" class="form-control" id="inputFirstName" placeholder="Meno" name="first_name" value="{{prisoner['first_name'] if prisoner}}">
          </div>

          <div class="form-group col-md-3">
            <label for="inputSecondName" class="col-form-label">Priezvisko</label>
            <input type="SecondName" class="form-control" id="inputSecondName" placeholder="Priezvisko" name="last_name" value="{{prisoner['last_name'] if prisoner}}">
          </div>
       </div>
       <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputAddress" class="col-form-label">Trvalý pobyt</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Ulica a č. domu" name="addr" value="{{prisoner['addr'] if prisoner}}">
            </div>
            <div class="form-group col-md-3">
              <label for="inputCity" class="col-form-label">Mesto</label>
              <input type="text" class="form-control" id="inputCity" name="city" value="{{prisoner['city'] if prisoner}}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputSentence" class="col-form-label">Trest</label>
              <input type="integer" class="form-control" id="inputSentence" name="sentence" value="{{prisoner['sentence'] if prisoner}}">
            </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
              <div class="form-check">
                  <label>
                    <input class="form-check-input" type="checkbox" id="inputLifetime" name="lifetime" {% if prisoner and prisoner['lifetime']=="true" %} checked {% endif %}> Doživotie
                  </label>
              </div>
            </div>
        </div>
        <div class="form-row">
            <div class="input-group form-group col-md-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Cela</label>
              </div>
              <select class="custom-select" id="inputCell_id" name="cell_id" value="{{prisoner['cell_id'] if prisoner}}">
                <option >Vyber celu</option>
                <option name="1" value="1" {% if prisoner and prisoner['cell_id']==1 %} selected="selected"{% endif %}>A1</option>
                <option name="2" value="2" {% if prisoner and prisoner['cell_id']==2 %} selected="selected"{% endif %}>A2</option>
                <option name="3" value="3" {% if prisoner and prisoner['cell_id']==3 %} selected="selected"{% endif %}>B1</option>
                <option name="4" value="4" {% if prisoner and prisoner['cell_id']==4 %} selected="selected"{% endif %}>B2</option>
                <option name="5" value="5" {% if prisoner and prisoner['cell_id']==5 %} selected="selected"{% endif %}>C1</option>
                <option name="6" value="6" {% if prisoner and prisoner['cell_id']==6 %} selected="selected"{% endif %}>C2</option>
                <option name="7" value="7" {% if prisoner and prisoner['cell_id']==7 %} selected="selected"{% endif %}>D1</option>
                <option name="8" value="8" {% if prisoner and prisoner['cell_id']==8 %} selected="selected"{% endif %}>D2</option>
              </select>
            </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-3">
              <button type="submit" class="btn btn-primary">Vložiť</button>
          </div>
      </div>
      </form>
  </div>
</body>
