<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="sk">

<head>
    <title>Python Project App</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="material-icons">home</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/prisoners/new">Nový Väzeň</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cells">Cely</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/abccells">Abecedne podľa ciel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/abcprisoners">Abecedne podľa väzňov</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/statistics">Statistika</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/call_prefix">Predvoľby</a>
      </li>
      <form class="form-inline" action="{{ url_for('search') }}" method="POST">
          <input type="FirstName" class="form-control mr-sm-2" id="inputFirstName" placeholder="Hľadať" name="search">
          <button type="submit" class="btn">Hľadať</button>
        </form>
    </ul>
  </nav>

        <table class="table table-inverse">
          <thead>
            <tr>
              <th>#</th>
              <th>Meno</th>
              <th>Priezvisko</th>
              <th>Cela</th>
            </tr>
          </thead>
          <tbody>
          {% for prisoner in prisoners %}
            <tr>
              <th scope="row">{{prisoner["id"]}}</th>
              <td>{{prisoner["first_name"]}}</td>
              <td>{{prisoner["last_name"]}}</td>
              <td>{{prisoner["name"]}}</td>
              <td><a href="/prisoner/{{prisoner['id']}}/edit">Edit</a></td>
              <td><a href="/prisoner/{{prisoner['id']}}">Detail</a></td>
              <td><a href="/prisoner/{{prisoner['id']}}/delete">Delete</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <footer class="footer">
            <p>&copy; PS 2017</p>
        </footer>

    </div>
</body>

</html>
